body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #F9F9F9;   
}

img {
    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 50px;
    background:#00AFDE;
    position: fixed;
}

.navbar a {
    color: #f2f2f2;
    text-decoration: none;
    margin: auto;
}

.title_competence {
    margin-top: 15%;
    margin-left: 8%;
    animation: competences 2s linear 0.4s forwards infinite;
    animation-direction: alternate;
}

@keyframes competences {
    0% {
    }
    100% {
      color: tomato;
    }
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}

.competence {
    text-align: center;
}

.frameworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
}

.title_icon {
    margin-top: 10%;
}

footer {
    margin-top: 59px;
    background-color: #00AFDE;
    color: white;
    height: 130px;
    padding-top: 20px;
}

footer img {
    height: 45px;
    width: 45px;
    margin-top: 5%;
    margin-left: 20%;
}

.description {    
    display: flex;
    justify-content: space-around;
}

footer button {
    margin-top: 5%;
    background-color: #00AFDE;
    border: 1px solid red;
    color: red;
    padding: 10px 15px;
    border-radius: 5px;
    width: 170px;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        font-size: 20px;
        height: 70px;
    }

    .language {
        width: 50vw;
        flex-wrap: wrap !important;
        display: flex;
        align-content: center !important;
        margin: auto !important;
    }

    .language_image {
        margin-top: 15%;
    }

    .title_icon {
        margin-top: 20%;
    }

    .frameworks {
        margin-top: 0% !important;
    }

}

@media only screen and (max-width: 660px) {
    .navbar {
        font-size: 9px;
        height: 70px;
    }

    .frameworks {
        width: 50vw;
        flex-wrap: wrap !important;
        display: flex;
        align-content: center !important;
        margin: auto !important;
    }

    .title_competence {
        margin-top: 40%;
    }

    footer {
        height: 170px;
    } 
}